.Checklist{
   max-width: 75%;
    width: 100%;
     color: #b3b2b2ec;
    background-color: #252523;
    padding: 30px 30px;
    display: grid;
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.08);
    margin: 70px auto;
    margin-bottom: 30px;
    justify-items: center;
      grid-template-columns: 1fr;
        gap: 20px;
        
}
.Checklist > div {
  width: 100%;
  
}
h3{
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
}
.inspeçao{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cli{
   
  grid-template-areas:
     "Tittle"
    "name"
    "telefone"
    "cpf"
    "email";
  
   
}
.vei{
  grid-template-areas:
     "Tittle"
    "modelo"
    "placa "
    "ano"
    "cor"
    "km";
}
.relato{
  
   grid-template-areas:
     "Tittle"
    "relato";
}
.diagnostico{
  margin: auto;
  
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}
.tittle{
grid-area: Tittle;
}

.nome-input {
  grid-area: name; 
  
}

.telefone-input {
  grid-area: telefone;

}

.cpf-input {
  grid-area: cpf;
}

.email-input {
  grid-area: email;
     }
  
     .modelo-input {
  grid-area: modelo; 
}

.placa-input {
  grid-area: placa;

}

.ano-input {
  grid-area: ano;
}

.cor-input {
  grid-area: cor;
     }
 .KM-input {
  grid-area: km;
     }
  
     .relato-area{
      grid-area: relato;
     }
   


  

