.preview-wrapper{
    max-width: 25%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding: 11px 11px;
    background:#18171788;
     border: 1px solid #9e9e9eb6;
      border-Radius: 10px;
      flex-direction: column;
      gap: 15px;
    
}
input::placeholder {
  font-size: 1em; /* acompanha o input */
}
.preview-wrapper img{
    width: 60%;
}
